<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="DocumentationComponents">
      <!-- Install the help file -->
      <Component Id="HelpFileComponent" Guid="PUT_UNIQUE_GUID_HERE" Directory="INSTALLFOLDER">
        <File Id="HelpFile" Source="$(var.SampleApp.TargetDir)SampleApp.chm" Checksum="yes" />
      </Component>
      <!-- Provide a start menu shortcut to the documentation -->
      <Component Id="DocumentationShortcuts" Guid="PUT_UNIQUE_GUID_HERE" Directory="ApplicationProgramsFolder">
        <Shortcut Id="HelpFileShortcut" Name="!(bind.property.ProductName) Documentation" Description="Displays the !(bind.property.ProductName) documentation" Target="[#HelpFile]" WorkingDirectory="MAINFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\!(bind.property.Manufacturer)\!(bind.property.ProductName)" Name="DocumentationShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>