<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="RegistryEntries">
      <Component Id="Registry_Author" Directory="INSTALLFOLDER" Guid="PUT_UNIQUE_GUID_HERE">
        <RegistryKey Root="HKLM" Key="Software\!(bind.property.Manufacturer)\!(bind.property.ProductName)">
          <RegistryValue Type="string" Name="Name" Value="[USERNAME]" KeyPath="yes"/>
        </RegistryKey>
      </Component>
      <Component Id="Registry_Company" Directory="INSTALLFOLDER" Guid="PUT_UNIQUE_GUID_HERE">
        <RegistryKey Root="HKLM" Key="Software\!(bind.property.Manufacturer)\!(bind.property.ProductName)">
          <RegistryValue Type="string" Name="Company" Value="[COMPANYNAME]" KeyPath="yes"/>
        </RegistryKey>
      </Component>
      <Component Id="Registry_InstallPath" Directory="INSTALLFOLDER" Guid="PUT_UNIQUE_GUID_HERE">
        <RegistryKey Root="HKLM" Key="Software\!(bind.property.Manufacturer)\!(bind.property.ProductName)">
          <RegistryValue Type="string" Name="InstallPath" Value="[INSTALLFOLDER]" KeyPath="yes"/>
        </RegistryKey>
      </Component>
      <Component Id="Registry_Version" Directory="INSTALLFOLDER" Guid="PUT_UNIQUE_GUID_HERE">
        <RegistryKey Root="HKLM" Key="Software\!(bind.property.Manufacturer)\!(bind.property.ProductName)">
          <RegistryValue Type="string" Name="Version" Value="[ProductVersion]" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>